body {
    background-color: #bac2c5;
  }
  
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
    font-family: sans-serif;
    text-indent: 1.20in;
  }
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #000000;
    background-color: #bac2c5;
  }
  
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #bac2c5;
  }

  #food-logo {
    margin: -30px 0 0 0;
    padding: -30px 0 0 0;
    max-width: 80px;
    float: inline-start;
  }

  #Recipes {
    margin: -720px 760px 0 0;
    max-width: 80px;
    float: right;
    font-size: 20px;
  }

  #About {
    margin: -720px 560px 0 0;
    max-width: 80px;
    float: right;
    font-size: 20px;
  }

  #Resources {
    margin: -720px 360px 0 0;
    max-width: 80px;
    float: right;
    font-size: 15px;
  }

  #recipe-box {
    max-width: 400px;
    position: relative;
    left: 450px; 
    bottom: -80px;
   }

   #Recipe {
    max-width: 80px;
    margin: 530px 770px 0 0;
    float: right;
    font-size: 20px;
   }