body {
    background-color: #bac2c5;
  }
  
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
    font-family: sans-serif;
    text-indent: 1.20in;
  }

  h2 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
    font-family: sans-serif;
    text-indent: 1.20in;
    text-align: center;
  }
  p1 {
    font-size: 140%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-indent: 1.20in;
  }
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #000000;
    background-color: #bac2c5;
  }
  
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #bac2c5;
  }

  #food-logo {
    margin: -30px 0 0 0;
    padding: -30px 0 0 0;
    max-width: 80px;
    float: inline-start;
  }

  #Recipes {
    margin: -1080px 760px 0 0;
    max-width: 80px;
    float: right;
    font-size: 20px;
  }

  #About {
    margin: -1080px 560px 0 0;
    max-width: 80px;
    float: right;
    font-size: 20px;
  }

  #Resources {
    margin: -1080px 360px 0 0;
    max-width: 80px;
    float: right;
    font-size: 15px;
  }

  #recipe-box {
    max-width: 400px;
    position: relative;
    left: 450px; 
    bottom: -80px;
   }

   #Recipe {
    margin: 530px 720px 0 0;
    float: right;
    font-size: 18px;
    padding: 10px 40px; /* this controls width and height of button */

   }

   .hidden {
    visibility: hidden;
   }  

   #button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px; /* this controls width and height of button */
   }
   
   #output {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px black;
    min-height: 100px;
  }
  #output1 {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px black;
    min-height: 100px;
  }

  .box{
    width: 200px;
    height: 350px;
    background-color: #333;
    position: relative;
    overflow: hidden;
    visibility:hidden;
  }
  
  .paper{
    width: 180px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom:-100%;
    left: 10px;
    transition: bottom 1s ease-in-out;
    visibility:visible;
    z-index: 1;
  }
  