/* recipeGenerator.css */
#recipe-generator {
    margin: 20px;
    padding: 10px;
    background-color: clear;
    position: center;
    text-align: center;
}

#recipe-output {
    position: center;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    z-index: 1;
}
